{{ define "scalar" }}
{{ template "header" . }}

{{ if .Imports }}
import (
  {{ range .Imports }}
    "{{ . }}"
  {{ end }}
)
{{ end }}

type (
  {{ range .Scalars }}
    {{ .Name }} = {{ .GoType }}
  {{ end }}
)
{{ end }}
