{{- /* Root Methods template */ -}}

{{- range .QueryMethods }}
// {{ .MethodName }} creates a builder for the {{ .FieldName }} query
func (q *QueryRoot) {{ .MethodName }}() *{{ .BuilderName }} {
	return &{{ .BuilderName }}{
		BaseBuilder: NewBaseBuilder(q.client, "query", "{{ .OpName }}", "{{ .FieldName }}"),
	}
}
{{- end }}

{{- range .MutationMethods }}
// {{ .MethodName }} creates a builder for the {{ .FieldName }} mutation
func (m *MutationRoot) {{ .MethodName }}() *{{ .BuilderName }} {
	return &{{ .BuilderName }}{
		BaseBuilder: NewBaseBuilder(m.client, "mutation", "{{ .OpName }}", "{{ .FieldName }}"),
	}
}
{{- end }}
